.mainDiv{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}
h1{
 display:inline-block;	
}
table {

font-size: 14px;
border-collapse: collapse;
text-align: center;
border: 2px solid black;
}
.data-Table{
width:800px;	
}
.lux{
width: 100%;
}
th, td:first-child {
//background: #AFCDE7;
color: black;
padding: 1px 2px;
}
th, td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: black;
}
td {
//background: #D8E6F3;
}
th:first-child, td:first-child {
text-align: left;
}
.total{
	width:800px;
	text-align:right;
}
.customer_signature{
	left:800px;
	position:absolute;	
}
.ot{
    margin: 10px;
}

.doorDiv{

	width:25%;
	height:1100px;
	display:inline-block;
}
.optionsDiv{

	width:65%;
	height:1100px;
	display:inline-block;
	vertical-align: top;
}
.comment{

	width:100%;
	height:150px;
	border:1px solid black;
}
#shadowId{
	display: none;
}