.checkbox-label,.ios-toggle:before,:after {
 box-sizing:border-box;
 margin:0;
 padding:0;
 -webkit-transition: .25s ease-in-out;
 outline:none;
 font-family:Helvetica Neue,helvetica,arial,verdana,sans-serif;
}

#toggles {
 width:50px;
// margin:0px auto;
 text-align:center;
}

.ios-toggle,.ios-toggle:active {
 position:absolute;
 top:-5000px;
 height:0;
 width:0;
 opacity:0;
 border:none;
 outline:none;
}

.checkbox-label {
 display:block;
 position:relative;
 padding:10px;
 margin-bottom:0px;
 font-size:12px;
 line-height:16px;
 width:100%;
 height:25px;
 border-radius:18px;
 background:#f8f8f8;
 cursor:pointer;
}

.checkbox-label:hover {

}

.checkbox-label:before {
 content:'';
 display:block;
 position:absolute;
 z-index:1;
 line-height:34px;
 text-indent:40px;
 height:25px;
 width:25px;
 border-radius:100%;
 top:0px;
 left:0px;
 right:auto;
 background:white;
 box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
}

.checkbox-label:after {
 content:attr(data-off);
 display:block;
 position:absolute;
 z-index:0;
 top:0;
 left:-300px;
 padding:10px;
 height:100%;
 width:300px;
 text-align:right;
 color:#bfbfbf;
 white-space:nowrap;
}

.ios-toggle:checked + .checkbox-label {
 box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
}

.ios-toggle:checked + .checkbox-label:before {
 left:calc(100% - 25px);
 box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
}

.ios-toggle:checked + .checkbox-label:after {
 content:attr(data-on);
 left:60px;
 width:35px;
}

/* GREEN CHECKBOX */


.ios-toggle + .checkbox-label {
 box-shadow:inset 0 0 0 0px rgba(19,191,17,1),0 0 0 2px #dddddd;
}

.ios-toggle:checked + .checkbox-label {
 box-shadow:inset 0 0 0 18px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
}

.ios-toggle:checked + .checkbox-label:after {
 color:rgba(19,191,17,1);
}
 
