body{

}

.contaner{

}

/* ------------------------------------------------ */
/* top */
/* ------------------------------------------------ */

.top_head{

    background-color:#245882;
//padding: 3px 3px 3px 50px;
    width:100%;
    max-width:1300px;
    margin:0 auto;
    position: relative;

}

.header_logo{
    padding: 3px 50px 3px 50px;
    display:inline-block;
    height:35px;
    vertical-align: top;

}

.header_home{
    padding: 12px 50px 0px 50px;
    display:inline-block;
    border-left:solid 1px #191970;
    height:35px;
    vertical-align: top;

}

.logo_text{
    font-size:30px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color:#B0C4DE;
    text-decoration: none;
}

.logo_home{
    font-size:18px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color:#B0C4DE;
    text-decoration: none;

}
.head_button{
    font-size:18px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color:#B0C4DE;
    text-decoration: none;
}
.head_button:hover{
    font-size:18px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color:#00FFFF;
    text-decoration: none;
    cursor:pointer;
}

.lending_div{

    padding: 3px 0px 0px 0px;
    width:100%;
    max-width:1300px;
    margin:0 auto;

}

.lending_text{
    padding: 20px 20px 20px 20px;
    position:absolute;
    font-size:110px;
    color:#F0FFF0;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.conten_body{
    max-width:1301px;
    margin:0 auto;
}
.ac-container{

    background-color:#ededed;
    max-width:300px;
    width:200px;
    height:600px;
    position: relative;
    top: 5px;
    display:inline-block;


}
h2 {
    color: #000000;
    font-size: 30px;
    font-weight: 800;
    padding: 45px 0 15px;
    cursor:pointer;
}
.accordion {
//border: 2px solid #ddd;
    border-top: none;
    margin: 10px 0;
    float: left;
// width: 470px;
    position: relative;
    background-color: #ededed;
}
.accordion a {
    display: block;
    text-decoration: none;
}
.accordion h2, .accordion a{
    background-color: #ededed;
    color: #000000;
    font-weight: 800;
    font: 14px/30px 'Verdana', sans-serif;
    height: 30px;
    margin: 0;
    padding: 0;
    text-indent: 10px;
}
p {

    color: #555;
    padding: 10px,0px,0px,0px;
    margin:0px;
    margin-left:10px;
    margin-bottom:3px;
}

a[href^="#accordion"] + *{display: none;}
#accordion-css3 :target{display: block;}


/* ----------------------------------------- */
/* basement */
/* ----------------------------------------- */

.basement{
    background-color:#245882;
//padding: 3px 3px 3px 50px;
    width:100%;
    max-width:1300px;
    margin:0 auto;
    position: relative;
    height:70px;
}
.basement_text{

    padding: 12px 50px 0px 50px;
    display:inline-block;

}

/* ------------------------------------------------ */
/* Table */
/* ------------------------------------------------ */

.data-Table{
    top: 5px;
    left:10px;
    height:600px;
    display:block;
    position: relative;
//margin-top:10px;
}

th{
    padding: 10px 10px 10px 30px;
}
td{
    padding: 10px 10px 10px 30px;
}

/* ------------------------------------------------- */
/* navigation */
/* ------------------------------------------------- */

.navigation_panel_div{
    padding:8.7px 0px 0px 0px;
    height:30px;
}
.navigation_panel{

    color:#245882;
    text-decoration: none;

}

/* ------------------------------------------------- */
/* calculation */
/* ------------------------------------------------- */



.container_main{
    padding: 5px 3px 0px 0px;
    max-width:1300px;
    margin:0 auto;
    position: relative;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    text-decoration: none;
    color:#000000;
}
.container_main_order{
    padding: 3px 3px 0px 0px;
    max-width:1297px;
    margin:0 auto;
    position: relative;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    text-decoration: none;
    color:#000000;
//background-color:#DCDCDC;
}

.daughter_container1{
    display:inline-block;
    height:800px;
    width:39%;
    background-color: #ededed;
    vertical-align: top;

}

.daughter_container2{
    display:inline-block;
    height:800px;
    width:30%;
    background-color: #ededed;

}

.daughter_container3{
    display:inline-block;
    height:800px;
    width:30%;
//background-color: #ededed;
    vertical-align: top;

}

.vertical_menu{
    position: absolute;
    width:29%;

}
.vertical_menu_button{

    text-align-last:justify;
    display:block;
    padding-left:5px;
    padding-top: 5px;
    padding-bottom:10px;
    text-decoration: none;
    color:#000000;
    border-bottom: solid 1px #A9A9A9;
    margin:5px;

}
.vertical_menu_button:hover{


    text-align-last:justify;
    display:block;
    padding-left:5px;
    padding-top: 5px;
    padding-bottom:10px;
    text-decoration: none;
    color:#000000;
    background-color:#DCDCDC;
    border-bottom: solid 1px #A9A9A9;
    margin:5px;

}

.vertical_menu_button_left{
    text-decoration: none;
    //color:#000000;
}
.vertical_menu_button_rigtht{
    text-decoration: none;
    //color:#000000;
}

.vertical_menu_space{

    display:block;
    padding-left:5px;
    padding-top: 5px;
    padding-bottom:10px;
    text-decoration: none;
    color:#000000;
//border-bottom: solid 1px #A9A9A9;
    margin:5px;

}

.vertical_menu_button_rigth_panel{

    display:block;
    padding-left:5px;
    padding-top: 5px;
    padding-bottom:10px;
    text-decoration: none;
    color:#000000;
    margin:5px;
}

.right_cell{
    display:inline-block;

}
.left_cell{
    display:inline-block;

}

/* -----------------------------------------*/
/* daughter_container3 */
/* -----------------------------------------*/

.images_div{
    display:block;

}

#checkbox{
//border: 2px dashed #696969;
    background-color:#696969;
}

.images_door_class:hover{
//border: 2px dashed #696969;
    background-color:#696969;
}

.images_door_class{
    padding: 5px 5px 5px 5px;
    cursor:pointer;
//display:block-lile;
}

.description_images_door_class{
//display:block-lile;
    vertical-align: top;
}

[show="ghost_lement"]{
    display:none;
}



.vertical_menu_checkbox{

    text-align-last:justify;
    display:block;
    text-decoration: none;
    color:#000000;
    border-bottom: solid 1px #A9A9A9;


}

.right_cell_checkbox{

    vertical-align: top;
    display:inline-block;
    margin-top:7px;

}

.left_cell_checkbox{

    vertical-align: top;
    display:inline-block;
    padding: 10px 10px;
}

.input_size{
    border-color:white;
    border-width:0;
    font-size:50px;
    text-align: right;
}

.input_div{
    text-align-last:justify;
//display:block;
    text-decoration: none;
    color:#000000;
}

.images_Color{
    height:150px;
    margin:3px;
}
.div_images_Color{
    display:inline-block;
    color:#696969;
    margin:0px;
}
.div_images_Color:hover{
    display:inline-block;
    color:#FFFFFF;
    background-color:#696969;
}
.div_images_Color#checkbox{
    color:#FFFFFF;
}

.to_calculate{
    height:35px;
    width:200px;
    color:#000000;
    background-color:#DCDCDC;
    border-radius: 5px;
    position: absolute;
    left:5px;
    top:9px;
    z-index:12;
    padding:10px 0px 0px 10px;
}
.to_calculate:hover{
    height:50px;
    width:37%;
    color:#FFFFFF;
    background-color:#696969;
    border-radius: 5px;
    position: absolute;
    padding:10px 0px 0px 10px;
    left:5px;
    top:9px;
    cursor:pointer;
    z-index:12;
}

.to_calculate_span{
    padding:5px 10px 0px 0px;
}
.to_calculate_span:hover{
    padding:5px 10px 0px 0px;
    color:#1E90FF;
}
.getСut{
    height:35px;
    width:150px;
    color:#000000;
    background-color:#DCDCDC;
    border-radius: 5px;
    position: absolute;
    left:158px;
    top:9px;
    z-index:12;
}
.getСut:hover{
    height:35px;
    width:150px;
    color:#FFFFFF;
    background-color:#696969;
    border-radius: 5px;
    position: absolute;
    left:158px;
    top:9px;
    cursor:pointer;
    z-index:12;
}

.nameDoor{
    height:35px;
    width:35%;
    color:#000000;
    background-color:#ededed;
    border-radius: 5px;
    position: absolute;
    left:5px;
    top:49px;
}

.picture_doorL{
    display:inline-block;
    position:relative;
    top:60px;
    left:20px;
}
.picture_doorR{
    display:inline-block;
    position:relative;
    top:60px;
    left:25px;
}
.opening_side_images{
    position: absolute;
    top:0px;
    left:0px;

}
.sizeDoorRepresentation{
    display:inline-block;
    position:relative;
    top:60px;
    left:20px;
    vertical-align: top;
    border-top: solid 1px #A9A9A9;
    border-bottom: solid 1px #A9A9A9;

}
.sizeDoorSpan{
    writing-mode:tb-rl;
    vertical-align:middle;
    text-align:center;
    border-right: solid 1px #A9A9A9;
    border-top: solid 1px #A9A9A9;
    border-bottom: solid 1px #A9A9A9;
    vertical-align: top;
}
.sizeDoorSpanBottom{
    vertical-align:middle;
    text-align:center;
    border-right: solid 1px #A9A9A9;
    border-left: solid 1px #A9A9A9;
    border-bottom: solid 1px #A9A9A9;
    vertical-align: top;
    position: absolute;
}
.Sheet{
    display:inline-block;
    position:relative;
    top:30px;
    left:20px;
    background-color:#778899;
}
.doorPart{
    z-index:10;
    background-color:#245882;
    position:absolute;
    display:inline-block;
    border: 1px solid #808080;
}

/*
//orders
*/
.button_menu{
//background-color:#C0C0C0;
}
.div_order_management{
    height:20px;
//width:120px;
    margin-left:11px;
//background-color:#C0C0C0;
    display:inline-block;
    border-right:solid 1px #808080;
    border-bottom:solid 1px #808080;
    padding-right:5px;
}
.div_order_management:hover{
    height:20px;
//width:120px;
    margin-left:11px;
    background-color:#C0C0C0;
    display:inline-block;
    border-right:solid 1px #808080;
    border-bottom:solid 1px #808080;
    padding-right:5px;
}
.button_cap_menu{
    text-decoration: none;
}
.button_cap_menu:hover{
    color:#FFFFE0;
    cursor:pointer;
    text-decoration: none;
}
th{
    background-color:#D3D3D3;
}
tr:hover{
    background-color:#D3D3D3;
}
[pickOut="on"]{
    background-color:#D3D3D3;
}
.order_header{
    margin-top:10px;
    margin-bottom:15px;
}
.order_headerL{
    display:inline-block;
}
.order_headerR{
    display:inline-block;
}

[available="no"]{
    color: #bfbfbf;
}
[available="yes"]{
    color:#000000;
}
