body{

}

.contaner{

}

/* ------------------------------------------------ */
/* top */
/* ------------------------------------------------ */

.top_head{
    background-color:#245882;
//padding: 3px 3px 3px 50px;
    width:100%;
    max-width:1300px;
    margin:0 auto;
    position: relative;

}


.header_logo{
    padding: 3px 50px 3px 50px;
    display:inline-block;
    height:35px;
    vertical-align: top;

}
.header_home{
    padding: 12px 50px 0px 50px;
    display:inline-block;
    border-left:solid 1px #191970;
    height:35px;
    vertical-align: top;

}

.logo_text{
    font-size:30px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color:#B0C4DE;
    text-decoration: none;
}
.logo_home{
    font-size:18px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color:#B0C4DE;
    text-decoration: none;

}





.lending_text{
    padding: 3px 3px 3px 3px;
    width:100%;
    max-width:1300px;
    margin:0 auto;

}
.lending_text2{
    padding: 3px 3px 3px 3px;
    width:100%;
    max-width:1300px;
    margin:0 auto;
    background:#DCDCDC;
}
.lending_text1{
    font-size:200px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color:#B0C4DE;
}
.conten_body{
    max-width:1301px;
    margin:0 auto;
}
.ac-container{

    background-color:#ededed;
    max-width:300px;
    width:200px;
    height:600px;
    position: relative;
    top: 10px;
    display:inline-block;


}
h2 {
    color: #000000;
    font-size: 30px;
    font-weight: 800;
    padding: 45px 0 15px;
    cursor:pointer;
}
.accordion {
//border: 2px solid #ddd;
    border-top: none;
    margin: 10px 0;
    float: left;
// width: 470px;
    position: relative;
    background-color: #ededed;
}
.accordion a {
    display: block;
    text-decoration: none;
}
.accordion h2, .accordion a{
    background-color: #ededed;
//background-image: url(gradient.jpg);
//background-image: -moz-linear-gradient(bottom, #f1f1f1, #fff);
//background-image: -ms-linear-gradient(bottom, #f1f1f1, #fff);
//background-image: -o-linear-gradient(bottom, #f1f1f1, #fff);
//background-image: -webkit-linear-gradient(bottom, #f1f1f1, #fff);
//background-image: linear-gradient(bottom, #f1f1f1, #fff);
//border-top: 1px solid #ddd;
    color: #000000;
    font-weight: 800;
    font: 14px/30px 'Verdana', sans-serif;
    height: 30px;
    margin: 0;
    padding: 0;
    text-indent: 10px;
}
p {
    background-color: #ededed;
    color: #555;
    font: 12px/18px 'Verdana', sans-serif;
    padding: 3px 20px;
}

a[href^="#accordion"] + *{display: none;}
#accordion-css3 :target{display: block;}

/* ------------------------------------------------ */
/* Table */
/* ------------------------------------------------ */

.data-Table{
    top: 10px;
    left:10px;
    height:600px;
    display:inline-block;
    position: relative;
    margin-top:10px;
}
.Table{

}
th{
    padding: 10px 10px 10px 30px;
}
td{
    padding: 10px 10px 10px 30px;
}

/* ------------------------------------------------- */
/* calculation */
/* ------------------------------------------------- */


.container_main{
    padding: 5px 3px 0px 0px;
    max-width:1300px;
    margin:0 auto;
    position: relative;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    text-decoration: none;
    color:#000000;
}

.daughter_container1{
    display:inline-block;
    height:800px;
    width:39%;
    background-color: #ededed;

}

.daughter_container2{
    display:inline-block;
    height:800px;
    width:30%;
    background-color: #ededed;

}

.daughter_container3{
    display:inline-block;
    height:800px;
    width:30%;
//background-color: #ededed;
    vertical-align: top;

}

.vertical_menu{
    position: absolute;
    width:29%;

}
.vertical_menu_button{

    text-align-last:justify;
    display:block;
    padding-left:5px;
    padding-top: 5px;
    padding-bottom:10px;
    text-decoration: none;
    color:#000000;
    border-bottom: solid 1px #A9A9A9;
    margin:5px;

}
.vertical_menu_button:hover{


    text-align-last:justify;
    display:block;
    padding-left:5px;
    padding-top: 5px;
    padding-bottom:10px;
    text-decoration: none;
    color:#000000;
    background-color:#DCDCDC;
    border-bottom: solid 1px #A9A9A9;
    margin:5px;

}

.vertical_menu_button_left{
    text-decoration: none;
    color:#000000;
}
.vertical_menu_button_rigtht{
    text-decoration: none;
    color:#000000;
}

.vertical_menu_space{

    display:block;
    padding-left:5px;
    padding-top: 5px;
    padding-bottom:10px;

    text-decoration: none;
    color:#000000;
//border-bottom: solid 1px #A9A9A9;

    margin:5px;



}

.vertical_menu_button_rigth_panel{

    display:block;
    padding-left:5px;
    padding-top: 5px;
    padding-bottom:10px;

    text-decoration: none;
    color:#000000;
    margin:5px;



}

.right_cell{
    display:inline-block;

}
.left_cell{
    display:inline-block;

}

/* -----------------------------------------*/
/* daughter_container3 */
/* -----------------------------------------*/

.images_div{
    display:block;

}

.images_door_class#checkbox{
    border: 2px dashed #696969;
}

.images_door_class:hover{
    border: 2px dashed #696969;
}

.images_door_class{
    padding: 5px 3px 0px 5px;
    cursor:pointer;
    //display:block-lile;
}

.description_images_door_class{
    //display:block-lile;
    vertical-align: top;
}

#ghost_lement{
    display:none;
}

.vertical_menu_checkbox{

    text-align-last:justify;
    display:block;
    text-decoration: none;
    color:#000000;
    border-bottom: solid 1px #A9A9A9;


}

.right_cell_checkbox{
    vertical-align: top;
    display:inline-block;
    margin-top:3px;

}

.left_cell_checkbox{
    vertical-align: top;
    display:inline-block;
    padding: 10px 10px;
}

.input_size{
    border-color:white;
    border-width:0;
    font-size:50px;
    text-align: right;
}

.input_div{
    text-align-last:justify;
    display:block;
    text-decoration: none;
    color:#000000;
}

