<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>door seller</title>
	<link rel="stylesheet" type="text/css" href="css/logoSett.css" />
    
</head>
<body>
	
		<div class="top_head">
			<div class="header_logo" >
				<a href="#" class="logo_text">door seller</a>
			</div>
			<div class="header_home" >
				<a href="#" class="logo_home">новая дверь</a>
			</div>
			<div class="header_home" >
				<a href="#" class="logo_home">заказы</a>
			</div>
			<div class="header_home" >
				<a href="@{/}" class="logo_home">настройки</a>
			</div>			
		</div>
		
		<div class="container_main">	
				<div class="daughter_container1">								
				</div>
				<div class="daughter_container2">
					<div class="vertical_menu">
						<div class="vertical_menu_button">							
								<a class="vertical_menu_button_left" href="#"> КЛАСС_ДВЕРИ</a>							
								<a class="vertical_menu_button_rigtht" href="#"> ДПД</a>								
						</div>							
						<a  class="vertical_menu_button" href="#"> МЕТАЛЛ</a>	
						<a  class="vertical_menu_button" href="#"> ШИРИНА ПО КОРОБУ</a>
						<a  class="vertical_menu_button" href="#"> ВЫСОТА ПО КОРОБУ</a>
						<a  class="vertical_menu_button" href="#"> ГЛУБИНА КОРОБА</a>
						<a  class="vertical_menu_button" href="#"> ТОЛЩИНА ПОЛОТНА</a>
						<a  class="vertical_menu_button" href="#"> ОТКРЫВАНИЕ</a>
						<a  class="vertical_menu_button" href="#"> ДОПОЛНИТЕЛЬНО</a>
						<a  class="vertical_menu_space" href="#">  </a>
						
						<a  class="vertical_menu_button" href="#"> ЦВЕТ ДВЕРИ</a>                        
						<a  class="vertical_menu_button" href="#"> ВНУТРЕНЯЯ МДФ НАКЛАДКА</a>
						<a  class="vertical_menu_button" href="#"> НАРУЖНЯЯ МДФ НАКЛАДКА</a>
						<a  class="vertical_menu_button" href="#"> СТЕКЛО (СТЕКЛОПАКЕТ)</a>
						<a  class="vertical_menu_space" href="#">  </a>
						<a  class="vertical_menu_button" href="#"> ВЕРХНИЙ ЗАМОК</a>
						<a  class="vertical_menu_button" href="#"> НИЖНИЙ ЗАМОК</a>
						<a  class="vertical_menu_button" href="#"> РУЧКА</a>
						<a  class="vertical_menu_button" href="#"> ДОПОЛНИТЕЛЬНО</a>
					</div>	
				</div>				
				<div class="daughter_container3">
						<div class="vertical_menu">
						<a  class="vertical_menu_button_rigth_panel" href="#"> ДПД (противопожарная)</a>
						<img src="URL" alt="альтернативный текст">
					    </div>					
				</div>		
		</div>
		
</body>
</html>