<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>door seller</title>
    <link rel="stylesheet" type="text/css" href="css/logoSett.css" />
    <link rel="stylesheet" type="text/css" href="css/displayCss.css" />
    <!-- Подключаем Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap-4.3.1css/bootstrap.min.css">
</head>
<body>

<div class="top_head">
    <div class="header_logo">
        <a th:href="@{/}" class="logo_text">door seller</a>
    </div>
    <div class="header_home" >
        <a th:href="@{/doorclasslist}" class="logo_home">door class</a>
    </div>
    <div class="header_home" >
        <a th:href="@{/doortypelist}" class="logo_home">door type</a>
    </div>
</div>
<br>

<div class="top_head">
    <div class="form-group">

        <h1 class="display-4">шаблон</h1>
        <div class="linebottom"></div><br>

        <div class="col-md-6 mb-3">
            <label for="exampleFormControlSelect1">класс двери:</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>ДПД</option>
                <option>Термо</option>
                <option>ДСН</option>
                <option>Центурион</option>
            </select>
        </div>
        <div class="col-md-6 mb-3">
            <label for="exampleFormControlSelect1">вид двери:</label>
            <select class="form-control" id="exampleFormControlSelect1">

            </select>
        </div>

        <h4>металл</h4>
        <div class="linebottom"></div><br>

        <div class="col-md-6 mb-3">
            <label for="exampleFormControlSelect1">металл:</label>
            <select class="form-control" id="exampleFormControlSelect1">

            </select>
        </div>

        <h4>размеры</h4>
        <div class="linebottom"></div><br>

        <div class="col-md-6 mb-3">
            <label for="exampleFormControlSelect1">ширина двери:</label>
            <select class="form-control" id="exampleFormControlSelect1">

            </select>
        </div>
        <div class="col-md-6 mb-3">
            <label for="exampleFormControlSelect1">высота двери:</label>
            <select class="form-control" id="exampleFormControlSelect1">

            </select>
        </div>
        <div class="col-md-6 mb-3">
            <label for="exampleFormControlSelect1">глубина:</label>
            <select class="form-control" id="exampleFormControlSelect1">

            </select>
        </div>
        <div class="col-md-6 mb-3">
            <label for="exampleFormControlSelect1">толщина полотна:</label>
            <select class="form-control" id="exampleFormControlSelect1">

            </select>
        </div>

        <h4>цвета</h4>
        <div class="linebottom"></div><br>

        <div class="col-md-6 mb-3">
            <label for="exampleFormControlSelect1">цвет:</label>
            <select class="form-control" id="exampleFormControlSelect1">

            </select>
        </div>

        <h4>дополнительные настройки</h4>
        <div class="linebottom"></div><br>
        <div class="col-md-6 mb-3">
            <label for="exampleFormControlSelect1">порог:</label>
            <select class="form-control" id="exampleFormControlSelect1">

            </select>
        </div>
        <div class="col-md-6 mb-3">
            <label for="exampleFormControlSelect1">порог нержавейка:</label>
            <select class="form-control" id="exampleFormControlSelect1">

            </select>
        </div>
        <div class="col-md-6 mb-3">
            <label for="exampleFormControlSelect1">первая линия уплотнения:</label>
            <select class="form-control" id="exampleFormControlSelect1">

            </select>
        </div>
        <div class="col-md-6 mb-3">
            <label for="exampleFormControlSelect1">вторая линия уплотнения:</label>
            <select class="form-control" id="exampleFormControlSelect1">

            </select>
        </div>
        <div class="col-md-6 mb-3">
            <label for="exampleFormControlSelect1">третья линия уплотнения:</label>
            <select class="form-control" id="exampleFormControlSelect1">

            </select>
        </div>
        <div class="col-md-6 mb-3">
            <label for="exampleFormControlSelect1">наличник верх:</label>
            <select class="form-control" id="exampleFormControlSelect1">

            </select>
        </div>
        <div class="col-md-6 mb-3">
            <label for="exampleFormControlSelect1">наличник правый:</label>
            <select class="form-control" id="exampleFormControlSelect1">

            </select>
        </div>
        <div class="col-md-6 mb-3">
            <label for="exampleFormControlSelect1">наличник левый:</label>
            <select class="form-control" id="exampleFormControlSelect1">

            </select>
        </div>

    </div>
</div>


</body>
</html>