<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>door seller</title>
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/creattemplate.js"></script>
    <link rel="stylesheet" type="text/css" href="css/logoSett.css"/>
    <link rel="stylesheet" type="text/css" href="css/displayCss.css"/>
    <!-- Подключаем Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap-4.3.1css/bootstrap.min.css">
</head>
<body>

<div class="top_head">
    <div class="header_logo">
        <a th:href="@{/}" class="logo_text">door seller</a>
    </div>
    <div class="header_home">
        <a th:href="@{/doorclasslist}" class="logo_home">door class</a>
    </div>
    <div class="header_home">
        <a th:href="@{/doortypelist}" class="logo_home">door type</a>
    </div>
</div>
<br>

<div class="top_head">
    <div class="form-group">

        <h1 class="display-4">шаблон</h1>

        <!--<div class="linebottom"></div>-->

        <div class="row">
            <div class="col-md-2 mb-3">
                <button type="button" class="btn btn-primary" id="saveTemplate">сохранить</button>
                <button type="button" class="btn btn-primary" id="delete">удалить</button>
            </div>
            <div class="col-md-1 mb-3">
                <label  for="doorclassselect">класс двери:</label>
            </div>
            <div class="col-md-3 mb-3">
                <select class="form-control" id="doorclassselect"><option></option><option value="4">ДПД(противопожарная)</option><option value="7">центурион</option><option value="2">ДСН(индивидуальная)</option><option value="3"></option><option value="1">ТЕРМО(терморазрыв)</option></select>
            </div>
            <div class="col-md-1 mb-3">
                <label  for="doortypeselect">вид двери:</label>
            </div>
            <div class="col-md-3 mb-3">
                <select class="form-control" id="doortypeselect"><option></option><option value="11">ДПД одностворчатая</option><option value="10">ДПД двустворчатая</option></select>
            </div>
        </div>
        <h4 class="chapter">металл</h4>
        <br>

        <div id="metalDiv">
        <label for="metalSelect0">металл:</label>
            <div class="row" id="metalLineDiv0">
                <div class="col-md-6 mb-3"id="metalLineSelect0" >
                    <select class="form-control metalSelect" id="metalSelect0" data="0">
                    </select>
                </div>
                <div class="custom-control custom-switch" id="metalLineSwitch0">
                    <input type="checkbox" class="custom-control-input metalLineCheckbox" id="metalLineCheckbox0" >
                    <label class="custom-control-label" for="metalLineCheckbox0">default</label>
                </div>
            </div>
        </div>

        <h4 class="chapter">размеры</h4>
        <br>

        <!--width-->
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="widthDoorCheckbox">
            <label class="custom-control-label" for="widthDoorCheckbox">ширина списком</label>
        </div>
        <br>
        <div class="col-md-6 mb-3" id="widthDoorPeriod" >
            <label for="widthSizMaxMinDiv">ширина двери: (интервал)</label>
            <div class="row" id="widthSizMaxMinDiv">
                <div class="col">
                    <input type="number" class="form-control" id="widthDoorMin" placeholder="min">
                </div>
                <div class="col">
                    <input type="number" class="form-control" id="widthDoorMax" placeholder="max">
                </div>
                <div class="col">
                    <input type="number" class="form-control" id="widthDoorStep" placeholder="step">
                </div>
            </div>
        </div>
        <div class="ghost" id="widthDoorDiv">
        <label for="widthDoorInput0">ширина двери:</label>
            <div class="row" id="widthDoorLineDiv0">
                <div class="col-md-6 mb-3"id="widthDoorLineSelect0" >
                     <input type="number" class="form-control widthDoorInput" id="widthDoorInput0" data="0" placeholder="ширина">
                </div>
                <div class="custom-control custom-switch" id="widthDoorLineSwitch0">
                    <input type="checkbox" class="custom-control-input widthDoorLineCheckbox" id="widthDoorLineCheckbox0" >
                    <label class="custom-control-label" for="widthDoorLineCheckbox0">default</label>
                </div>
            </div>
        </div>

        <!--height-->
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="heightDoorCheckbox">
            <label class="custom-control-label" for="heightDoorCheckbox">высота списком</label>
        </div>
        <br>
        <div class="col-md-6 mb-3" id="heightDoorPeriod">
            <label for="heightSizMaxMinDiv">высота двери: (интервал)</label>
            <div class="row" id="heightSizMaxMinDiv">
                <div class="col">
                    <input type="number" class="form-control" id="heightDoorMin" placeholder="min">
                </div>
                <div class="col">
                    <input type="number" class="form-control" id="heightDoorMax" placeholder="max">
                </div>
                <div class="col">
                    <input type="number" class="form-control" id="heightDoorStep" placeholder="step">
                </div>
            </div>
        </div>
        <div class="ghost" id="heightDoorDiv">
        <label for="heightDoorInput0">высота двери:</label>
            <div class="row" id="heightDoorLineDiv0">
                <div class="col-md-6 mb-3"id="heightDoorLineSelect0" >
                        <input type="number" class="form-control heightDoorInput" id="heightDoorInput0" data="0"
                        placeholder="ширина">
                </div>
                <div class="custom-control custom-switch" id="heightDoorLineSwitch0">
                    <input type="checkbox" class="custom-control-input heightDoorLineCheckbox" id="heightDoorLineCheckbox0" >
                    <label class="custom-control-label" for="heightDoorLineCheckbox0">default</label>
                </div>
            </div>
        </div>

        <!--deepnessDoor-->
        <div id="deepnessDoorDiv">
        <label for="deepnessDoorInput0">глубина:</label>
            <div class="row" id="deepnessDoorLineDiv0">
                <div class="col-md-6 mb-3"id="deepnessDoorLineSelect0" >
                        <input type="number" class="form-control deepnessDoorInput" id="deepnessDoorInput0" data="0"
                               placeholder="глубина">
                </div>
                <div class="custom-control custom-switch" id="deepnessDoorLineSwitch0">
                    <input type="checkbox" class="custom-control-input deepnessDoorLineCheckbox" id="deepnessDoorLineCheckbox0" >
                    <label class="custom-control-label" for="deepnessDoorLineCheckbox0">default</label>
                </div>
            </div>
        </div>

        <!--thicknessDoor-->
        <div id="thicknessDoorLeafDiv">
        <label for="thicknessDoorLeafInput0">толщина полотна:</label>
            <div class="row" id="thicknessDoorLineDiv0">
                <div class="col-md-6 mb-3"id="thicknessDoorLeafLineSelect0" >
                    <input class="form-control thicknessDoorLeafInput" id="thicknessDoorLeafInput0" data="0" placeholder="толщина полотна">
                </div>
                <div class="custom-control custom-switch" id="thicknessDoorLeafLineSwitch0">
                    <input type="checkbox" class="custom-control-input thicknessDoorLeafLineCheckbox" id="thicknessDoorLeafLineCheckbox0" >
                    <label class="custom-control-label" for="thicknessDoorLeafLineCheckbox0">default</label>
                </div>
            </div>
        </div>

        <h4 class="chapter">цвета</h4>
        <br>

        <div class="col-md-6 mb-3" id="colorsDiv">
            <label for="colorsSelect0">цвет:</label>
            <select class="form-control colorsSelect" id="colorsSelect0" data="0" толщина полотна>
            </select>
        </div>

        <h4 class="chapter">дополнительные настройки</h4>
        <br>

        <div class="col-md-6 mb-3" id="doorstepDiv">
            <label for="doorstepSelect0">порог:</label>
            <select class="form-control doorstepSelect" id="doorstepSelect0" data="0">
            </select>
        </div>
        <div class="col-md-6 mb-3" id="stainlessSteelDoorstepDiv">
            <label for="stainlessSteelDoorstepSelect0">порог нержавейка:</label>
            <select class="form-control stainlessSteelDoorstepSelect" id="stainlessSteelDoorstepSelect0" data="0">
            </select>
        </div>
        <div class="col-md-6 mb-3" id="firstSealingLineDiv">
            <label for="firstSealingLineSelect0">первая линия уплотнения:</label>
            <select class="form-control firstSealingLineSelect" id="firstSealingLineSelect0" data="0">
            </select>
        </div>
        <div class="col-md-6 mb-3" id="secondSealingLineDiv">
            <label for="secondSealingLineSelect0">вторая линия уплотнения:</label>
            <select class="form-control secondSealingLineSelect" id="secondSealingLineSelect0" data="0">
            </select>
        </div>
        <div class="col-md-6 mb-3" id="thirdSealingLineDiv">
            <label for="thirdSealingLineSelect0">третья линия уплотнения:</label>
            <select class="form-control thirdSealingLineSelect" id="thirdSealingLineSelect0" data="0">
            </select>
        </div>

        <h4 class="chapter">фурнитура</h4>
        <br>

        <!--topLock-->
        <div class="col-md-6 mb-3" id="topLockDiv">
            <label for="topLockSelect0">веерхний замок:</label>
            <select class="form-control topLockSelect" id="topLockSelect0" data="0">
            </select>
        </div>

        <!--lowerLock-->
        <div class="col-md-6 mb-3" id="lowerLockDiv">
            <label for="lowerLockSelect0">нижний замок:</label>
            <select class="form-control lowerLockSelect" id="lowerLockSelect0" data="0">
            </select>
        </div>

        <!--handle-->
        <div class="col-md-6 mb-3" id="handleDiv">
            <label for="handleSelect0">ручка:</label>
            <select class="form-control handleSelect" id="handleSelect0" data="0">
            </select>
        </div>

        <!--lowerlockCylinder-->
        <div class="col-md-6 mb-3" id="lowerlockCylinderDiv">
            <label for="lowerlockCylinderSelect0">цилиндр нижнего замка:</label>
            <select class="form-control lowerlockCylinderSelect" id="lowerlockCylinderSelect0" data="0">
            </select>
        </div>

        <!--toplockCylinder-->
        <div class="col-md-6 mb-3" id="toplockCylinderDiv">
            <label for="toplockCylinderSelect0">цилиндр верхнего замка:</label>
            <select class="form-control toplockCylinder" id="toplockCylinderSelect0" data="0">
            </select>
        </div>

        <!--topInLockDecor-->
        <div class="col-md-6 mb-3" id="topInLockDecorDiv">
            <label for="topInLockDecorSelect0">внутреная накладка верхнего замка:</label>
            <select class="form-control topInLockDecorSelect" id="topInLockDecorSelect0" data="0">
            </select>
        </div>

        <!--topOutLockDecor-->
        <div class="col-md-6 mb-3" id="topOutLockDecorDiv">
            <label for="topOutLockDecorSelect0">внешная накладка верхнего замка:</label>
            <select class="form-control topOutLockDecorSelect" id="topOutLockDecorSelect0" data="0">
            </select>
        </div>

        <!--lowerInLockDecor-->
        <div class="col-md-6 mb-3" id="lowerInLockDecorDiv">
            <label for="lowerInLockDecorSelect0">внешная накладка нижнего замка:</label>
            <select class="form-control lowerInLockDecorSelect" id="lowerInLockDecorSelect0"
                    data="0">
            </select>
        </div>

        <!--lowerOutLockDecor-->
        <div class="col-md-6 mb-3" id="lowerOutLockDecorDiv">
            <label for="lowerOutLockDecorSelect0">внутреная накладка нижнего замка:</label>
            <select class="form-control lowerOutLockDecorSelect" id="lowerOutLockDecorSelect0" data="0">
            </select>
        </div>


        <h4 class="chapter">дополнительная фурнитура</h4>
        <br>

        <!--closer-->
        <div class="col-md-6 mb-3" id="closerDiv">
            <label for="closerSelect0">доводчик:</label>
            <select class="form-control closerSelect" id="closerSelect0" data="0">
            </select>
        </div>

        <!--endDoorLock-->
        <div class="col-md-6 mb-3" id="endDoorLockDiv">
            <label for="endDoorLockSelect0">торцевой шпингалет:</label>
            <select class="form-control endDoorLockSelect" id="endDoorLockSelect0" data="0">
            </select>
        </div>

        <h4 class="chapter">стекло</h4>
        <br>

        <!--typeDoorGlass-->
        <div class="col-md-6 mb-3" id="typeDoorGlassDiv">
            <label for="typeDoorGlassSelect0">тип стекла:</label>
            <select class="form-control typeDoorGlassSelect" id="typeDoorGlassSelect0" data="0">
            </select>
        </div>
        <!--toning-->
        <div class="col-md-6 mb-3" id="toningDiv">
            <label for="toningSelect0">тонировка:</label>
            <select class="form-control toningSelect" id="toningSelect0" data="0">
            </select>
        </div>
        <!--armor-->
        <div class="col-md-6 mb-3" id="armorDiv">
            <label for="armorSelect0">броня:</label>
            <select class="form-control armorSelect" id="armorSelect0" data="0">
            </select>
        </div>
    </div>
</div>


</body>
</html>