<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>door seller</title>
    <link rel="stylesheet" type="text/css" href="../../css/doorsPrint.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/drawDoor.css"/>
    <script type="text/javascript" src="../../js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../../static/js/calc/draw-door.script.js"></script>
    <script type="text/javascript" src="../../js/doorsPrintScript.js"></script>
    <script type="text/javascript" src="../../js/calc/door.class.js"></script>

</head>
<body>
<span id="shadowId" th:utext="${orderId}"></span>
</body>
</html>
