<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>door seller</title>
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/doorGroupSelection.js"></script>
    <!-- Подключаем Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap-4.3.1css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/displayCss.css" />
</head>
<body>

<div class="container">
    <div class="page-header">
        <h1>Выберите группу дверей </h1>
    </div>
    <br><br>
    <!-- Example row of columns -->
    <div class="row">

        <div class="col-md-4">
            <h2>Центурион</h2>
            <p>Двери торговой марки  Центурион.</p>
            <p><a id="7" class="btn btn-secondary" href=# role="button">Выбрать »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Individuall</h2>
            <p>Двери созданые для Вас по вашим требованиям.</p>
            <p><a id="4" class="btn btn-secondary" href=# role="button">Выбрать »</a></p>
        </div>

    </div>
</div> <!-- /container -->

<span id = "orderId" th:text="${orderId}" show="ghost_lement"></span>
<span id = "id" th:text="${id}" show="ghost_lement"></span>

</body>
</html>