<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>door seller</title>
    <!-- Подключаем Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="../css/bootstrap-4.3.1css/bootstrap.min.css">
    <!-- your personal CSS -->
    <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/logoSett.css"/>
    <link rel="stylesheet" type="text/css" href="../css/displayCss.css"/>

</head>
<body>

    <div class="top_head">
        <div class="container-fluid" id="intro-dm">
            <a th:href="@{/}"><img src="../images/Header_widht_1300_002 ltl.jpg"></a>
        </div>
    </div>


    <div class="top_head">
        <div class="form-group">

            <h1 class="display-4">Фурнитура</h1>

            <div class="row">
                <div class="col-md-3 mb-3">
                    <button type="button" class="btn btn-primary" id="saveTemplate">сохранить</button>
                    <button type="button" class="btn btn-primary" id="delete">удалить</button>
                </div>
            </div>

            <!--name-->
            <div class="form-group">
                <label for="nameFurniture">Наименование:</label>
                <input type="email" class="form-control" id="nameFurniture" aria-describedby="nameHelp" placeholder="Enter name">
                <small id="nameHelp" class="form-text text-muted">Наименование фурнитуры.</small>
            </div>
            <!--id-->
            <div class="form-group">
                <label for="idFurniture">Номер:</label>
                <input type="email" class="form-control" id="idFurniture" aria-describedby="idHelp" placeholder="Enter id">
                <small id="idHelp" class="form-text text-muted">id фурнитуры, уникальный номер фурнитуры.</small>
            </div>

            <!--id-manufacturer-program-->
            <div class="form-group">
                <label for="idManufacturFurniture">Номер производителя:</label>
                <input type="email" class="form-control" id="idManufacturFurniture" aria-describedby="idManHelp" placeholder="Enter id">
                <small id="idManHelp" class="form-text text-muted">id фурнитуры, уникальный номер фурнитуры в программе завода.</small>
            </div>

            <!--type-of-furniture-->
            <div class="form-group">
                <label for="typeOfFurniture">Тип фурнитуры:</label>
                <input type="email" class="form-control" id="typeOfFurniture" aria-describedby="typeHelp" placeholder="Enter type">
                <small id="typeHelp" class="form-text text-muted">тип фурнитуры.</small>
            </div>

            <!--quantity-->
            <div class="form-group">
                <label for="quantity">Количество:</label>
                <input type="email" class="form-control" id="quantity" aria-describedby="quantityHelp" placeholder="Enter type">
                <small id="quantityHelp" class="form-text text-muted">Количество для списания.</small>
            </div>

            <!--cylinder_lock-->
            <div class="form-group">
                <label for="itCylinderLock">Цилиндровый замок:</label>
                <input type="email" class="form-control" id="itCylinderLock" aria-describedby="itCylinderLockHelp" placeholder="Enter CylinderLock">
                <small id="itCylinderLockHelp" class="form-text text-muted">Цилиндровый (для замков), признак для расчетов и отборов .</small>
            </div>

            <!--is-Two-Section-Lock-->
            <div class="form-group">
                <label for="isTwoSectionLock">Двухсекционный замок:</label>
                <input type="email" class="form-control" id="isTwoSectionLock" aria-describedby="isTwoSectionLockHelp" placeholder="Enter TwoSectionLock">
                <small id="itisTwoSectionLock" class="form-text text-muted">Двухсекционный (для замков), признак для расчетов и отборов .</small>
            </div>

            <!--comment-->
            <div class="form-group">
                <label for="comment">Комментарий:</label>
                <input type="email" class="form-control" id="comment" aria-describedby="commentHelp" placeholder="Enter comment">
                <small id="commentHelp" class="form-text text-muted">Комментарий.</small>
            </div>

            <!--longKey-->
            <div class="form-group">
                <label for="longKey">Длинный ключ:</label>
                <input type="email" class="form-control" id="longKey" aria-describedby="longKeyHelp" placeholder="Enter longKey">
                <small id="longKeyHelp" class="form-text text-muted">Длинный ключ (для замков), признак для расчетов и отборов .</small>
            </div>

            <!--bugelHandle-->
            <div class="form-group">
                <label for="bugelHandle">Бугельная ручка:</label>
                <input type="email" class="form-control" id="bugelHandle" aria-describedby="bugelHandleHelp" placeholder="Enter bugelHandle">
                <small id="bugelHandleHelp" class="form-text text-muted">Бугельная ручка (для замков), признак для расчетов и отборов .</small>
            </div>

            <!--armorLock-->
            <div class="form-group">
                <label for="armorLock">Броне накладка:</label>
                <input type="email" class="form-control" id="armorLock" aria-describedby="armorLockHelp" placeholder="Enter armorLock">
                <small id="armorLockHelp" class="form-text text-muted">Броне накладка (для замков), признак для расчетов и отборов .</small>
            </div>

            <!--picture-Path-First-->
            <div class="form-group">
                <label for="picturePathFirst">Картинка:</label>
                <input type="email" class="form-control" id="picturePathFirst" aria-describedby="picturePathFirstHelp" placeholder="Enter picturePathFirst">
                <small id="picturePathFirstHelp" class="form-text text-muted">Картинка, для показа в списках выбора.</small>
            </div>

            <!--sketch-Path-First-->
            <div class="form-group">
                <label for="sketchPathFirst">Картинка для эскиза:</label>
                <input type="email" class="form-control" id="sketchPathFirst" aria-describedby="sketchPathFirstHelp" placeholder="Enter sketchPathFirst">
                <small id="sketchPathFirstHelp" class="form-text text-muted">Эскиз, для отображения на эскизе двери.</small>
            </div>

            <!--for-Warm-Doors-->
            <div class="form-group">
                <label for="forWarmDoors">Для теплой двери:</label>
                <input type="email" class="form-control" id="forWarmDoors" aria-describedby="forWarmDoorsHelp" placeholder="Enter forWarmDoors">
                <small id="forWarmDoorsHelp" class="form-text text-muted">Признак, только для теплой двери.</small>
            </div>

            <!--number-Of-Door-Leaves-->
            <div class="form-group">
                <label for="numberOfDoorLeaves">Для количества створок:</label>
                <input type="email" class="form-control" id="numberOfDoorLeaves" aria-describedby="numberOfDoorLeavesHelp" placeholder="Enter numberOfDoorLeaves">
                <small id="numberOfDoorLeavesHelp" class="form-text text-muted">Признак, только для этоко количества створок.</small>
            </div>

            <!--price-->
            <div class="form-group">
                <label for="price">Цена:</label>
                <input type="email" class="form-control" id="price" aria-describedby="priceHelp" placeholder="Enter price">
                <small id="priceHelp" class="form-text text-muted">Цена.</small>
            </div>

            <!--price-Comit-->
            <div class="form-group">
                <label for="priceComit">Комментарий к цене:</label>
                <input type="email" class="form-control" id="priceComit" aria-describedby="priceComitHelp" placeholder="Enter priceComit">
                <small id="priceComitHelp" class="form-text text-muted">коментарий цены.</small>
            </div>

        </div>
    </div>

</body>
</html>