<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>door seller</title>
        <!-- Подключаем Bootstrap CSS -->
        <link type="text/css" rel="stylesheet" href="css/bootstrap-4.3.1css/bootstrap.min.css">
        <!-- your personal CSS -->
        <script type="text/javascript" src="../js/shared/page-selector-class.js"></script>
        <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="js/furnitureList.js"></script>
        <script type="text/javascript" src="js/ui/panel-builder.class.js"></script>
        <link rel="stylesheet" type="text/css" href="css/logoSett.css"/>
        <link rel="stylesheet" type="text/css" href="css/displayCss.css"/>

    </head>
    <body>

        <div class="top_head">
            <div class="container-fluid" id="intro-dm">
                <a th:href="@{/}"><img src="images/Header_widht_1300_002 ltl.jpg"></a>
            </div>
        </div>

        <div class="top_head">
            <div class="row">

                <nav class="col-2 d-none d-md-block bg-light sidebar" id="mainSidePanel">
                </nav>

                <div class="col">

                    <h1 class="display-4">Фурнитура</h1>

                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-primary" id="addfurniture" >Добавить</button>
                            <button type="button" class="btn btn-primary" id="deletLine">Удалить</button>
                        </div>
                        <div class="col-md-1 mb-3">
                            <label  for="typeOfFurniture">Тип:</label>
                        </div>
                        <div class="col-md-3 mb-3">
                            <select class="form-control" id="typeOfFurniture"></select>
                        </div>
                    </div>

                    <table class="Table">
                        <tr>
                            <th>#</th>
                            <th>id</th>
                            <th>Наименование</th>
                            <th>Тип фурнитуры</th>
                            <th>Цена</th>
                            <th>id завода</th>
                        </tr>
                        <tr class="line" th:each="furniture : ${furnitureList}">
                            <td>#</td>
                            <td class="id" th:utext="${furniture.id}">..</td>
                            <td  th:utext="${furniture.name}">..</td>
                            <td class="type-line"  th:utext="${furniture.typeOfFurniture}">..</td>
                            <td  th:utext="${furniture.price}">..</td>
                            <td  th:utext="${furniture.idManufacturerProgram}">..</td>
                        </tr>
                    </table>


                </div>

            </div>
        </div>

    </body>
</html>
