<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>door seller</title>
    <link rel="stylesheet" type="text/css" href="../ststic/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
</head>
<body>

<div class="container">

    <div class="jumbotron" style="margin-top: 20px;">
        <h1>Door seller 3.0</h1>
        <p class="lead">
            DoorSeller.herokuapp.com - это сервис предоставляющий возможность расчитывать стоимость металлических дверей.
        </p>
            <p><a class="btn btn-lg btn-success" th:href="@{home}">Войти</a></p>
    </div>

    <div class="footer">
        <p>© SibSteel 2019</p>
    </div>

</div>

</body>
</html>