<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>door seller login </title>
    <link type="text/css" href="css/login.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet"  href="css/logoSett.css" />
    <!-- Подключаем Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap-4.3.1css/bootstrap.min.css">
    <base href="/">
</head>
<body>

<div class="top_head">
    <div class="header_logo" >
        <a th:href="@{/}" class="logo_text">door seller</a>
    </div>
    <div class="header_home" >
        <span class="head_button" id="buttonCalculate"> </span>
    </div>

</div>


<div class="loginForm">
    <div th:if="${error}">
        Invalid username and password.
    </div>
    <div th:if="${logout}">
        You have been logged out.
    </div>

    <form th:action="@{/login}" method="post">
        <div class="form-group">
            <label for="username">user name:</label>
            <input type=text" class="form-control" name="username" id="username">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" name="password">
        </div>

        <div class="form-group">
            <input class="btn btn-outline-secondary" type="submit" value="войти">
        </div>
    </form>
</div>
</body>
</html>