<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>door seller</title>
    <!-- Подключаем Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="../css/bootstrap-4.3.1css/bootstrap.min.css">
    <!-- your personal CSS -->
    <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../js/line-utils/line-editor.class.js"></script>
    <script type="text/javascript" src="../js/materials.js"></script>
    <script type="text/javascript" src="../js/ui/panel-builder.class.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/logoSett.css"/>
    <link rel="stylesheet" type="text/css" href="../css/displayCss.css"/>
</head>
<body>

    <div class="top_head">
    <div class="container-fluid" id="intro-dm">
        <a th:href="@{/}"><img src="../images/Header_widht_1300_002 ltl.jpg"></a>
    </div>
</div>

    <div class="top_head">
        <div class="row">

            <nav class="col-2 d-none d-md-block bg-light sidebar" id="mainSidePanel">
            </nav>

            <div class="col">

                <h1 class="display-4">Материалы</h1>

                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-primary " id="addLine" >Добавить</button>
                        <button type="button" class="btn btn-primary disabled" id="deletLine">Удалить</button>
                        <button type="button" class="btn btn-primary disabled" id="saveSpec">Сохранить</button>
                    </div>
                </div>

                <br>

                <table class="Table">
                    <tr>
                        <th>#</th>
                        <th>id</th>
                        <th>Наименование</th>
                        <th>id завода</th>
                        <th>цена</th>
                    </tr>
                    <tr th:each="s : ${spec}">
                        <td>#</td>
                        <td  th:utext="${s.id}">..</td>
                        <td class="vary_field text_select"  th:utext="${s.name}">..</td>
                        <td class="vary_field text_input" th:utext="${s.condition1}">..</td>
                        <td class="vary_field text_input" th:utext="${s.calculationFormula1}">..</td>
                    </tr>
                </table>

            </div>

        </div>
    </div>






</body>
</html>
