<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>door seller</title>
	<!-- Подключаем Bootstrap CSS -->
	<link type="text/css" rel="stylesheet" href="css/bootstrap-4.3.1css/bootstrap.min.css">
	<!-- your personal CSS -->
	<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="js/metalList.js"></script>
	<link rel="stylesheet" type="text/css" href="css/logoSett.css" />
	<link rel="stylesheet" type="text/css" href="css/displayCss.css" />
</head>
<body>

	<!-- header -->
	<div class="top_head">
		<div class="container-fluid" id="intro-dm">
			<a th:href="@{/}"><img src="images/Header_widht_1300_002 ltl.jpg"></a>
		</div>
	</div>

	<div class="top_head">
		<div class="row">

			<nav class="col-2 d-none d-md-block bg-light sidebar">
				<div class="sidebar-sticky">
					<ul class="nav flex-column">
						<!-- двери -->
						<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
							<span>двери:</span>
						</h6>

						<li class="nav-item" id="orders">
							<a class="nav-link active" th:href="@{/pages/orders}">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
								Заказы
							</a>
						</li>
						<!-- настройки -->
						<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
							<span>настройки:</span>
						</h6>

						<li class="nav-item" id="templates">
							<a class="nav-link active" th:href="@{/templates/page-lists}">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
								Шаблоны <span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item" id="specification">
							<a class="nav-link active" th:href="@{/specification}">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
								Спецификации
							</a>
						</li>
						<!-- справочники: -->
						<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
							<span>справочники:</span>
						</h6>

						<li class="nav-item" id="doorclasslist">
							<a class="nav-link active" th:href="@{/doorclasslist}">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
								Классы
							</a>
						</li>
						<li class="nav-item" id="doortypelist">
							<a class="nav-link active" th:href="@{/doortypelist}">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
								Модели
							</a>
						</li>
						<li class="nav-item" id="materials">
							<a class="nav-link active" th:href="@{/materials}">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
								Материалы
							</a>
						</li>
						<li class="nav-item" id="furniture">
							<a class="nav-link active" th:href="@{/furniture}">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
								Фурнитура
							</a>
						</li>
						<li class="nav-item" id="metalList">
							<a class="nav-link active" th:href="@{/metal}">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
								Металл
							</a>
						</li>
						<li class="nav-item" id="colorList">
							<a class="nav-link active" th:href="@{/color}">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
								Цвета
							</a>
						</li>
						<!-- прочее -->
						<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
							<span>прочее:</span>
						</h6>

						<li class="nav-item" id="users">
							<a class="nav-link active" th:href="@{/users}">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
								Пользователи
							</a>
						</li>
						<li class="nav-item" id="usersetting">
							<a class="nav-link active" th:href="@{/usersetting}">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
								Мои настройки
							</a>
						</li>
						<li class="nav-item" id="logout">
							<a class="nav-link active" th:href="@{/logout}">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="feather feather-users"><defs><style>.a{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}</style></defs><title>login-2</title><path d="M9.1,10.875A1.125,1.125,0,1,0,10.227,12,1.125,1.125,0,0,0,9.1,10.875Z"/><path class="a" d="M15.749,3h4.5a1.5,1.5,0,0,1,1.5,1.5v15a1.5,1.5,0,0,1-1.5,1.5h-4.5"/><path class="a " d="M11.893,23.242l-9-1.285a.751.751,0,0,1-.644-.743V3.721a.749.749,0,0,1,.593-.733l9-2.221a.75.75,0,0,1,.907.733v21A.75.75,0,0,1,11.893,23.242Z"/></svg>
								Выйти
							</a>
						</li>
					</ul>
				</div>
			</nav>

			<div class="col">

				<h1 class="display-4">Металл</h1>

				<div class="row">
					<div class="col">
						<button type="button" class="btn btn-primary" id="addLine" >Добавить</button>
						<button type="button" class="btn btn-primary" id="deletLine">Удалить</button>
					</div>
				</div>

				<div class="data-Table">
					<table class="Table">
						<tr>
							<th>id</th>
							<th>name</th>
							<th>nameDisplayed</th>
							<th>isUsed</th>
							<th>idManufacturerProgram</th>
						</tr>
						<tr th:each="metal : ${metalList}">
							<td class="id" th:utext="${metal.id}">..</td>
							<td th:utext="${metal.name}">..</td>
							<td th:utext="${metal.nameDisplayed}">..</td>
							<td th:utext="${metal.isUsed}">..</td>
							<td th:utext="${metal.idManufacturerProgram}">..</td>
						</tr>

					</table>
				</div>

			</div>


		</div>
	</div>
		

</body>
</html>
