<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>door seller</title>
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <!-- Подключаем Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap-4.3.1css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/logoSett.css" />
    <link rel="stylesheet" type="text/css" href="css/displayCss.css" />
</head>
<body>
    <div class="top_head">
        <div class="header_logo">
            <a th:href="@{/}" class="logo_text">door seller</a>
        </div>
        <div class="header_home" >
            <a th:href="@{/orders}" class="logo_home">заказы</a>
        </div>
        <div class="header_home" >
            <a th:href="@{/setting}" class="logo_home">настройки</a>
        </div>
        <div class="header_home" >
            <a th:href="@{/logout}" class="logo_home">выйти</a>
        </div>
    </div>
    <br>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Двери Центурион - на защите вашей собственности!</h1>
        <p>Компания «Сибсталь» занимается 100 лет производством и продажей стальных дверей. Модельный ряд представлен в каталоге, где можно купить двери от простых до технологичных с гарантией качества..</p>
        <p><a class="btn btn-primary btn-lg" href="https://centurion-door.ru/o-kompanii/" role="button">больше информации »</a></p>
    </div>
</div>

    <!--
     <div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Мегатрон</h2>
            <p>Двери из титановый сплавов, и астероидного металла.</p>
            <p><a class="btn btn-secondary" th:href="@{/calculation}" role="button">конфигуратор »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Центурион</h2>
            <p>Двери всемирноизвестной торговой марки  Центурион.</p>
            <p><a class="btn btn-secondary" th:href="@{/calculation}" role="button">конфигуратор »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Individuall</h2>
            <p>Двери созданые для Вас по вашим требованиям.</p>
            <p><a class="btn btn-secondary" th:href="@{/calculation}" role="button">конфигуратор »</a></p>
        </div>


    </div>
    -->
    <hr>

    <footer>
        <p>© МЕГАТРОН 2019</p>
    </footer>
</div> <!-- /container -->


</body>
</html>