<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>door seller</title>
	<link rel="stylesheet" type="text/css" href="css/logoSett.css" />
    
</head>
<body>
	
		<div class="top_head">
			<div class="header_logo" >
				<a href="https://doorseller.herokuapp.com" class="logo_text">door seller</a>
			</div>
			<div class="header_home" >
				<a th:href="@{/calculation}" class="logo_home">новая дверь</a>
			</div>
			<div class="header_home" >
				<a href="#" class="logo_home">заказы</a>
			</div>
			<div class="header_home" >
				<a th:href="@{/setting}" class="logo_home">настройки</a>
			</div>
			<div class="header_home" >
				<span class="logo_home" th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</span>
			</div>
			<div class="header_home" >
				<form th:action="@{/logout}" method="post">
					<input class="logo_home" type="submit" value="Sign Out"/>
				</form>
			</div>
		</div>
		
			<div class="lending_text">
				<span class="lending_text1">создавайте двери</span>
			</div>
			<div class="lending_text2">
				<span class="lending_text1">расчитывайте цены</span>
			</div>
			<div class="lending_text">
				<span class="lending_text1">обменевайтесь заказами</span>
			</div>
		
</body>
</html>