<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>door seller</title>
	<link rel="stylesheet" type="text/css" href="css/logoSett.css" />
	<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="js/orderScript.js"></script>
	<link rel="stylesheet" type="text/css" href="css/ios_checkbox.css" />
</head>
<body>

<div class="top_head">
	<div class="header_logo" >
		<a th:href="@{/}" class="logo_text">door seller</a>
	</div>
	<div class="header_home" >
		<span class="head_button" id="saveOrderAndShutDown">сохранить и закрыть</span>
	</div>
	<div class="header_home" >
		<span class="head_button" id="saveOrder">сохранить</span>
	</div>
	<div class="header_home" >
		<span class="head_button" id="deleteOrder">удалить</span>
	</div>
	<div class="header_home">
		<span  class="head_button" id ="print">печать заказа</span>
	</div>
	<div class="header_home">
		<span  class="head_button" id ="printDoors">печать дверей</span>
	</div>
</div>

<div class="container_main_order">
	<span >№:</span>
	<span   id="order_id" th:text="${orederId}"></span>
	<div class="order_header">
		<div class="order_headerL">

			<div class="headerLine">
				<span class="nameheaderLine">организация:</span><br>
				<input  id="company" class="input" type="text" value="" placeholder="организация">
			</div>
			<div class="headerLine">
				<span class="nameheaderLine">контрагент:</span><br>
				<input  id="partner" class="input" type="text" value="" placeholder="контрагент">
			</div>
			<div class="headerLine">
				<span class="nameheaderLine">дата заказа:</span><br>
				<input  id="data" class="inputData" type="date"  placeholder="дата заказа">
			</div>
			<div class="headerLine">
				<span class="nameheaderLine">дата готовности:</span><br>
				<input  id="releasDate" class="inputData" type="date"  placeholder="дата готовности">
			</div>
		</div>
		<div class="order_headerR">
			<div class="checkbox"   id="inWork" >
				<div class="left_cell_checkbox">
					<a  class="vertical_menu_button_left" id="nemeproductionStart" href="#">в работе:</a>
				</div>
				<div align="right" class="right_cell_checkbox">
					<div class="toggles">
						<input type="checkbox" name="productionStart" id="productionStart" class="ios-toggle" />
						<label for="productionStart" class="checkbox-label"></label>
					</div>
				</div>
			</div>
			<div class="checkbox"    >
				<div class="left_cell_checkbox">
					<a  class="vertical_menu_button_left" id="nemeinTheManufacturerDatabase" href="#">в базе производителя:</a>
				</div>
				<div align="right" class="right_cell_checkbox">
					<div class="toggles">
						<input type="checkbox" name="inTheManufacturerDatabase" id="inTheManufacturerDatabase"  class="ios-toggle" />
						<label for="inTheManufacturerDatabase" class="checkbox-label"></label>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="button_menu">
		<div class="div_order_management">
			<span class="button_cap_menu" id ="addDoor">+ новая дверь</span>
		</div>
		<div class="div_order_management">
			<span class="button_cap_menu" id ="toChange">изменить</span>
		</div>
		<div class="div_order_management">
			<span class="button_cap_menu" id ="delete">удалить</span>
		</div>
	</div>

	<div class="data-Table">
		<table class="Table">
			<tr>
				<th>id</th>
				<th>наименование</th>
				<th>тип двери</th>
				<th>металл</th>
				<th>цвет</th>
				<th>цена</th>
			</tr>
			<tr th:each="accountInfo : ${accountInfos}">
				<td th:utext="${accountInfo.id}">..</td>
				<td th:utext="${accountInfo.name}">..</td>
				<td th:utext="${accountInfo.doorType}">..</td>
				<td th:utext="${accountInfo.metal}">..</td>
				<td th:utext="${accountInfo.doorColor}">..</td>
				<td th:utext="${accountInfo.price}">..</td>
			</tr>

		</table>
	</div>
	<div class="totalOrder">
		<span>ИТОГО:</span>
        <span id="total"></span>
	</div>
	<div class="order_header">
		<span class="nameheaderLine">комменткрий:</span>
		<input  id="comment" class="input" type="text" value="" placeholder="комменткрий">
	</div>
</div>


</body>
</html>