<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>door seller</title>
    <link rel="stylesheet" type="text/css" href="css/logoSett.css" />
    <link rel="stylesheet" type="text/css" href="css/displayCss.css" />
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/orderListScript.js"></script>
    <!-- Подключаем Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap-4.3.1css/bootstrap.min.css">
</head>
<body>

<div class="top_head">
<div class="container-fluid" id="intro-dm">
    <a th:href="@{/}"><img src="images/Header_widht_1300_002 ltl.jpg"></a>
</div>
</div>

<div class="top_head">
    <div class="header_home" >
        <a th:href="@{/usersetting}" class="logo_home">настройки</a>
    </div>
    <div class="header_home" >
        <a th:href="@{/logout}" class="logo_home">выйти</a>
    </div>
</div>



<div class="container_main_order">

    <h1 class="display-4">Заказы</h1>

    <span class="ghost" id="isAdmin" th:utext="${isAdnin}"></span>
    <span class="ghost" id="report" th:utext="${report}"></span>

    <div class="row " id="buttonbar">

        <div class="col-md-2 mb-3">
            <button type="button" class="btn btn-primary" id="addOrder">создать</button>
            <button type="button" class="btn btn-primary" id="buttonDeleteOrder">удалить</button>
        </div>
        <div class="col accessAdmin ghost">
            <label  for="doorclassselect">user:</label>
        </div>
        <div class="col accessAdmin ghost">
            <select class="form-control" id="userselect">
            </select>
        </div>
        <div class="col">
            <label  for="doorclassselect">контрагент:</label>
        </div>
        <div class="col">
            <select class="form-control" id="doorclassselect">
            </select>
        </div>

        <div class="col">
            <label  for="doorclassselect">дата:</label>
        </div>
        <div class="col">
            <input type="date" class="form-control" id="data1" placeholder="" value="" required="">
        </div>
        <div class="col">
            <input type="date" class="form-control" id="data2" placeholder="" value="" required="">
        </div>
    </div>


    <div class="order-Table">
        <table class="Table">
            <tr >
                <th>№</th>
                <th>Статус</th>
                <th>Организация</th>
                <th>Контрагент</th>
                <th>Дата создания</th>
                <th>Дата готов-ти</th>
                <th>Менеджер</th>
                <th>Комментарий</th>
                <th>Кол-во</th>
                <th>Сумма</th>
                <th>Сумма НДС</th>
            </tr>

            <tr th:each="order : ${accountInfos}">
                <td class="id"  th:utext="${order.id}">..</td>
                <td class="colorFlag" th:utext="${order.status}">..</td>
                <td th:utext="${order.company}">..</td>
                <td th:utext="${order.partner}">..</td>
                <td th:utext="${order.data}">..</td>
                <td th:utext="${order.releasDate}">..</td>
                <td th:utext="${order.seller.username}">..</td>
                <td th:utext="${order.comment}">..</td>
                <td th:utext="${order.totalQuantity}">..</td>
                <td th:utext="${order.totalAmount}">..</td>
                <td th:utext="${order.totalTax}">..</td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>