<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>door seller</title>
	<link rel="stylesheet" type="text/css" href="../../css/logoSett.css" />
	<link rel="stylesheet" type="text/css" href="../../css/displayCss.css" />
	<script type="text/javascript" src="../../js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="../../js/buttons-utils/buttons-manager.class.js"></script>
	<script type="text/javascript" src="../../js/line-utils/line-editor.class.js"></script>
	<script type="text/javascript" src="../../js/orderScript.js"></script>
	<link rel="stylesheet" type="text/css" href="../../css/ios_checkbox.css" />
	<!-- Подключаем Bootstrap CSS -->
	<link type="text/css" rel="stylesheet" href="../../css/bootstrap-4.3.1css/bootstrap.min.css">
</head>
<body>

<div class="top_head">
<div class="container-fluid" id="intro-dm">
	<a th:href="@{/}"><img src="../../images/Header_widht_1300_002 ltl.jpg"></a>
</div>
</div>

<div class="container_main_order">

	<h1 class="display-4" id ="orderIdName">Заказ</h1>
    <span class="ghost" id="order_id" th:text="${orderId}"></span>
	<span class="ghost" id="seller_order_id" th:text="${orderId}"></span>


	<div class="container_main_order">

		<div class="order_button_div">
			<button type="button" class="btn btn-dark" id="toСlose" >Закрыть</button>
			<button type="button" class="btn btn-dark different_availability ready_availability" id="saveOrderAndShutDown" >Cохранить и закрыть</button>
			<button type="button" class="btn btn-dark different_availability ready_availability" id="saveOrder" >Cохранить</button>
			<button type="button" class="btn btn-dark different_availability" id="deleteOrder" >Удалить</button>
			<button type="button" class="btn btn-dark" id="print" >Печать заказа</button>
			<button type="button" class="btn btn-dark" id="printDoors">Печать дверей</button>
			<button type="button" class="btn btn-dark" id="factoryOder">Заказ на завод</button>
		</div>

		<div class="ghost orderToFactory_button_div" >
			<button type="button" class="btn btn-warning" id="goToWork" >Запустить в производство!</button>
			<button type="button" class="btn btn-dark" id="backToOrder" >Вернутся к закзау</button>
		</div>

		<div class="order_header">
			<div class="row ">
				<div class="col-md-6 mb-3">
					<label for="status">статус заказа</label>
					<select class="custom-select d-block w-100" id="status" required="">
					</select>
				</div>
				<div class="col">
					<label for="data">дата создания заказа:</label>
					<input type="date" class="form-control" id="data" placeholder="" value="" required="">
				</div>
				<div class="col">
					<label for="data">дата запуска в работу:</label>
					<input type="date" class="form-control" id="Startdata" placeholder="" value="" required="">
				</div>
				<div class="col">
					<label for="releasDate">дата готовности:</label>
					<input type="date" class="form-control" id="releasDate" placeholder="" value="" required="">
				</div>
			</div>
			<div class="row ">

				<div class="col">
					<label for="partner">покупатель:</label>
					<input type="text" class="form-control" id="partner" placeholder="покупатель" value="" required="">
				</div>
				<div class="col">
					<label for="company">продавец:</label>
					<input type="text" class="form-control" id="company" placeholder="продавец" value="" required="">
				</div>

			</div>

		</div>

		<div class="order_button_div">
			<button type="button" class="btn btn-primary different_availability" id="addDoor">Добавить</button>
			<button type="button" class="btn btn-primary " id="toChange">Изменить</button>
			<button type="button" class="btn btn-primary different_availability" id="delete">удалить</button>
        </div>

		<div class="data-Table">
			<table class="Table">
				<tr>

				</tr>
				<tr >

				</tr>
			</table>
		</div>

		<div class="totalOrder">
			<span>ИТОГО:</span>
			<span id="total"></span>
			<span class="orderToFactory_button_div ghost"> profit:</span>
			<span class="ghost" id="totalProfit"></span>
		</div>

		<div class="mb-3">
			<label for="comment">комменткрий: </label>
			<input type="text" class="form-control" id="comment" placeholder="комментарий">
		</div>
	</div>
</div>


</body>
</html>
