<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>door seller</title>
    <link rel="stylesheet" type="text/css" href="css/logoSett.css" />
    <link rel="stylesheet" type="text/css" href="css/displayCss.css" />
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/orderListScript.js"></script>
    <!-- Подключаем Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap-4.3.1css/bootstrap.min.css">
</head>
<body>

<div class="top_head">
    <div class="header_logo" >
        <a th:href="@{/}" class="logo_text">door seller</a>
    </div>
    <div class="header_home" >
        <a th:href="@{/usersetting}" class="logo_home">настройки</a>
    </div>
    <div class="header_home" >
        <a th:href="@{/logout}" class="logo_home">выйти</a>
    </div>
</div>
<br>


<div class="container_main_order">

    <h1 class="display-4">Заказы</h1>

    <div class="row ">
        <div class="col-md-2 mb-3">
            <button type="button" class="btn btn-primary" id="addOrder">создать</button>
            <button type="button" class="btn btn-primary" id="buttonDeleteOrder">удалить</button>
        </div>
        <div class="col-md-1 mb-3">
            <label  for="doorclassselect">контрагент:</label>
        </div>
        <div class="col-md-3 mb-3">
            <select class="form-control" id="doorclassselect">
            </select>
        </div>

        <div class="col-md-1 mb-3">
            <label  for="doorclassselect">дата:</label>
        </div>
        <div class="col-md-2 mb-3">
            <input type="date" class="form-control" id="data1" placeholder="" value="" required="">
        </div>
        <div class="col-md-2 mb-3">
            <input type="date" class="form-control" id="data2" placeholder="" value="" required="">
        </div>
    </div>


    <div class="order-Table">
        <table class="Table">
            <tr >
                <th>№</th>
                <th>Организация</th>
                <th>Контрагент</th>
                <th>Дата</th>
                <th>Дата готов-ти</th>
                <th>Статус</th>
                <th>Менеджер</th>
                <th>Комментарий</th>
                <th>Кол-во</th>
                <th>Сумма</th>
                <th>Сумма НДС</th>
            </tr>

            <tr th:each="accountInfo : ${accountInfos}">
                <td class="id"  th:utext="${accountInfo.id}">..</td>
                <td th:utext="${accountInfo.company}">..</td>
                <td th:utext="${accountInfo.partner}">..</td>
                <td th:utext="${accountInfo.data}">..</td>
                <td th:utext="${accountInfo.releasDate}">..</td>
                <td th:utext="${accountInfo.productionStart}">..</td>
                <td th:utext="${accountInfo.seller.username}">..</td>
                <td th:utext="${accountInfo.comment}">..</td>
                <td th:utext="${accountInfo.totalQuantity}">..</td>
                <td th:utext="${accountInfo.totalAmount}">..</td>
                <td th:utext="${accountInfo.totalTax}">..</td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>