<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>door seller</title>
	<link rel="stylesheet" type="text/css" href="css/logoSett.css" />
    
</head>
<body>
	
		<div class="top_head">
			<div class="header_logo" >
				<a th:href="@{/}" class="logo_text">door seller</a>
			</div>
			<div class="header_home" >
				<a th:href="@{/calculation}" class="logo_home">новая дверь</a>
			</div>
			<div class="header_home" >
				<a href="#" class="logo_home">заказы</a>
			</div>
			<div class="header_home" >
				<a th:href="@{/setting}" class="logo_home">настройки</a>
			</div>			
		</div>
		
		<div class="conten_body">
			<div class="ac-container">
				<div id="accordion-css3" class="accordion">
					<a th: href="doorclass"><strong>Классы дверей</strong></a>
					<a href="#"><strong>Металл</strong></a>
					<a th: href="doortype"><strong>Вид дверей</strong></a>
					<a href="#"><strong>Фурнитура</strong></a>
					<div id="accordion-5">
						<p>Верхний замок</p>
						<p>Нижний замок</p>
						<p>Ручка</p>
						<p>Дополнительно</p>
						<p>Доводчик</p>
						<p>Торцевые щпингалеты</p>
						<p>Цилиндр для замка</p>
						<p>Ночная задвижка</p>
						<p>Накладка</p>
						<p>ТТ поворотник</p>
						<p>Дополнительные услуги</p>
					</div>
					<a href="#"><strong>Металл</strong></a>
					<a href="#"><strong>Цвета дверей</strong></a>
				</div>
			</div>
		    </div>
			<div class="data-Table">
				<table class="Table">
					<tr>
						<th>id</th>
						<th>name</th>
						<th>doorLeaf</th>
						<th>nameForPrint</th>
						<th>daysToRelease</th>
						<th>markUp</th>
						<th>markUpGlassPackage</th>
					</tr>
					<tr th:each="accountInfo : ${accountInfos}">
						<td th:utext="${accountInfo.id}">..</td>
						<td th:utext="${accountInfo.name}">..</td>
						<td th:utext="${accountInfo.doorLeaf}">..</td>
						<td th:utext="${accountInfo.nameForPrint}">..</td>
						<td th:utext="${accountInfo.daysToRelease}">..</td>
						<td th:utext="${accountInfo.markUp}">..</td>
						<td th:utext="${accountInfo.markUpGlassPackage}">..</td>
					</tr>

				</table>
			</div>
		</div>		
		
</body>
</html>