<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>door seller</title>
	<!-- Подключаем Bootstrap CSS -->
	<link type="text/css" rel="stylesheet" href="css/bootstrap-4.3.1css/bootstrap.min.css">
	<!-- your personal CSS -->
	<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="js/doorUserListScript.js"></script>
	<link rel="stylesheet" type="text/css" href="css/logoSett.css" />
	<link rel="stylesheet" type="text/css" href="css/displayCss.css" />


</head>
<body>

<div class="top_head">
	<div class="container-fluid" id="intro-dm">
		<a th:href="@{/}"><img src="images/Header_widht_1300_002 ltl.jpg"></a>
	</div>
</div>

<div class="conten_body">

	<h1 class="display-4">пользователи</h1>

	<div class="order-Table">
		<table class="Table">
			<tr>
				<th>id</th>
				<th>username</th>
				<th>authorities</th>
				<th>enabled</th>
				<th>кол.зааказов</th>
				<th>кол.заказов в работе</th>
			</tr>
			<tr th:each="user : ${users}">
				<td class="id" th:utext="${user.id}">..</td>
				<td th:utext="${user.username}">..</td>
				<td th:utext="${user.authorities}">..</td>
				<td th:utext="${user.enabled}">..</td>
				<td th:utext="${user.orderCounter}">..</td>
				<td th:utext="${user.workOrderCounter}">..</td>
			</tr>

		</table>
	</div>

	<div class="linebottom"></div><br>
	<button type="button" class="btn btn-primary btn-lg "  id="addClass">добавить</button>
	<button type="button" class="btn btn-primary btn-lg "  id="buttonDelete">удалить</button>

</div>

</body>
</html>