<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>door seller</title>
	<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="js/doorUserScript.js"></script>
	<link rel="stylesheet" type="text/css" href="css/logoSett.css" />
	<link rel="stylesheet" type="text/css" href="css/displayCss.css" />
	<!-- Подключаем Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap-4.3.1css/bootstrap.min.css">
</head>
<body>

	<div class="container-fluid" id="intro-dm">
		<a th:href="@{/}"><img src="images/Header_widht_1300_002 ltl.jpg"></a>
	</div>

	<div class="top_head">

		<div class="header_home" >
			<a th:href="@{/doorclasslist}" class="logo_home">door class</a>
		</div>
		<div class="header_home" >
			<a th:href="@{/doortypelist}" class="logo_home">door type</a>
		</div>
	</div>
	<br>
	
	<div class="top_head">

		<span id = "enabled" th:text="${user.enabled}" show="ghost_lement"></span>


		<form th:action="@{/user}" method="post">


		<div class="form-group">

			    <input type="text" name="userId" th:value="${user.id}" show="ghost_lement">

				<h1 class="display-4">Пользователь</h1>
				<div class="linebottom"></div><br>					

				<div class="col-md-6 mb-3">
					<label for="username">имя:</label>
					<input type="text" class="form-control" name="username" id="username" placeholder="имя" th:value="${user.username}" >
				</div>


				<div class="col-md-6 mb-3">
					<label for="password">new password:</label>
					<input type="text" class="form-control" name="password" id="password" placeholder="password" >
				</div>


				<div class="col-md-6 mb-3">
					<label for="discount">Скидка от розничных цен завода,%:</label>
					<input type="number" class="form-control" name="discount" id="discount" placeholder="%" th:value="${user.discount}" >
				</div>


				<div class="custom-control custom-switch">
					<input type="checkbox" class="custom-control-input" name="enabledСheckbox" id="enabledСheckbox">
					<label class="custom-control-label" for="enabledСheckbox">enabled</label>
				</div>


				<div class="linebottom"></div><br>
			    <button type="button" class="btn btn-primary btn-lg " id="close">закрыть</button>
				<button type="submit" class="btn btn-primary btn-lg " id="saveClass">сохранить</button>

				<!--
				disabled
				-->
				
			</div>
		</form>
		</div>


</body>
</html>