<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>door seller</title>
    <link rel="stylesheet" type="text/css" href="css/logoSett.css" />
    <link rel="stylesheet" type="text/css" href="css/displayCss.css" />
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/userSetting.js"></script>
    <!-- Подключаем Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap-4.3.1css/bootstrap.min.css">
</head>
<body>

<div class="top_head">
    <div class="header_logo">
        <a th:href="@{/}" class="logo_text">Asgard</a>
    </div>

</div>
<br>
    <form th:action="@{/usersetting}" method="post">

    <div class="container-fluid">
        <h1 class="display-4">Настройки пользователя</h1>

        <button type="button" class="btn btn-primary btn-lg " id="close">закрыть</button>
        <button type="submit" class="btn btn-primary btn-lg " id="saveUserSetting">сохранить</button>

        <br>
        <br>


        <div class="col-md-6 mb-3">
            <label for="retailMargin">Розничная наценка в %:</label>
            <input type="number" class="form-control" name="retailMargin" id="retailMargin"  placeholder="%" th:value="${setting.retailMargin}" >
        </div>

        <div class="col-md-6 mb-3">
            <label for="salesTax">Ставка НДС:</label>
            <input type="number" class="form-control" name="salesTax" id="salesTax"  placeholder="%" th:value="${setting.salesTax}" >
        </div>

        <div class="custom-control custom-switch">
            <input type="number" class="ghost"  id="includesTaxInt" th:value="${setting.includesTax}" >
            <input type="checkbox" class="custom-control-input" name="includesTax"  id="includesTax">
            <label class="custom-control-label" for="includesTax">Цена включает налог НДС:</label>
        </div>
    </div>
    </form>

</body>
</html>